// .test1 {
//   display: flex;
//   justify-content: space-between;
// }
.user {
  text-decoration: none;
}
.card {
  overflow: hidden;

  .col-4 {
    padding-left: 1.2rem;
  }
  .col-8 {
    max-height: 125.19px;
  }
  .col-md-4::before {
    position: absolute;
    content: "";
    z-index: 1;
    width: 6rem;
    height: 17rem;
    background-color: mix(black, $primary, 30%);
    transform: translate(-5rem, -3.5rem) rotate(27deg);
    overflow: hidden;
  }
}

.card__icon {
  position: absolute;
  display: grid;
  place-items: center;
  height: 100%;
  z-index: 999;
  #{&}__container {
    background-color: mix(white, $primary, 80%);
    padding: 1rem;
    border-radius: 50%;
  }
  #{&}__logo {
    font-size: 3rem;
    color: $primary;
  }
}
// $bg-img: url(./test1.png);
.test {
  position: relative;
  min-height: 3rem;
  margin-top: 1rem;
}

.btn-container {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-100%);
  background-color: $secondary;
  height: 3rem;
  width: 3rem;
  background-image: url("../../../public/images/test1.1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 4px solid $secondary;
  &:active {
    background-color: $primary;
    border: 5px solid $primary;
    height: 2.8rem;
    width: 2.8rem;
    &:after {
      animation: none;
      outline: none;
    }
    &:before {
      animation: none;
      outline: none;
    }
  }
  &:after {
    position: absolute;
    content: "";
    width: 103%;
    height: 103%;
    outline: 2px solid $secondary;
    animation: smallDrop 2s linear infinite;
    z-index: 1000;
  }
  &:before {
    position: absolute;
    content: "";
    width: 103%;
    height: 103%;
    outline: 2px solid $secondary;
    animation: smallDrop2 2s linear infinite;
    z-index: 1000;
  }
}
.btn-container-entrance {
  position: absolute;
  // left: 50%;
  // right: 50%;
  // transform: translateX(-100%);
  background-color: $secondary;
  height: 3rem;
  width: 3rem;
  background-image: url("../../../public/images/test1.1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 4px solid $secondary;
  &:active {
    background-color: $primary;
    border: 5px solid $primary;
    height: 2.8rem;
    width: 2.8rem;
    &:after {
      animation: none;
      outline: none;
    }
    &:before {
      animation: none;
      outline: none;
    }
  }
  &:after {
    position: absolute;
    content: "";
    width: 103%;
    height: 103%;
    outline: 2px solid $secondary;
    animation: smallDrop 2s linear infinite;
    z-index: 1000;
  }
  &:before {
    position: absolute;
    content: "";
    width: 103%;
    height: 103%;
    outline: 2px solid $secondary;
    animation: smallDrop2 2s linear infinite;
    z-index: 1000;
  }
}

.test-1 {
  position: relative;
  display: block;
  // border-bottom: 2px dotted $secondary;
  height: 2.5rem;

  &:before {
    position: absolute;
    left: 50%;
    top: -0.7rem;
    // bottom: 0.5rem;
    content: "";
    width: 2px;
    height: 70%;
    background-color: $secondary;
    opacity: 0.5;
    z-index: 1000;
  }

  &:after {
    position: absolute;
    top: -0.7rem;
    left: 50%;
    transform: translateX(-50%);
    // top: 1rem;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $secondary;
    opacity: 0.5;
    z-index: 1000;
  }
}
.test-3 {
  display: flex;
  justify-content: space-between;
}

.open {
  transform: translateX(0%);
  left: 0;
}
.close {
  transform: translateX(0%);
  right: 0;
}

@keyframes smallDrop {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  20% {
    opacity: 0.5;
    transform: scale(1);
  }
  70% {
    opacity: 0.2;
    transform: scale(1.3);
  }
  80% {
    opacity: 0;
    transform: scale(1.3);
  }
  90% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes smallDrop2 {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  20% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  70% {
    opacity: 0.2;
    transform: scale(1.5);
  }
  80% {
    opacity: 0;
    transform: scale(1.4);
  }
  90% {
    opacity: 0;
    transform: scale(1);
  }
}
// .card-body {
//   position: relative;
// }
.card__text {
  color: mix(black, $primary, 50%);
  text-transform: capitalize;
}
.form-switch .form-check-input {
  width: 100%;
  height: 2rem;
  margin-left: -2.5em;
  background-image: url("../../../public/images/test1.1.png");
  border-radius: 0em;
  transition: background-position 0.15s ease-in-out;
}

.form-check-input {
  background-color: mix(black, $secondary, 20%);
}

.btn-light {
  --bs-btn-bg: #ffa3af;
}

.app_footer {
  margin-top: 2rem;
  display: block;
  width: 100%;
  height: 0.5rem;
}

.text-span {
  margin-bottom: -5px;
  font-size: 14px;
  font-style: italic;
  color: $secondary;
}

.card__text_door {
  margin-bottom: -6px !important;
}
.test-3 {
  text-transform: capitalize;
}
